.account-manage-container {
  max-width: 1200px;
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  border-radius: 10px;
  font-family: "poppins";
}

.account-manage-title {
  text-align: center;
}

.filter-container {
  text-align: center;
}


.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-button {
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c13c5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #22be8a;
}

.search-input:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.account-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.account-item {
  width: 80%;
  padding: 10px;
  margin: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  justify-content: center;
}

.profile-picture-container {
  width: 30%;
  float: left;
  margin: 15px;
}

.profile-picture-button {
  border-radius: 10px;
}

.account-info-main {
  width: 60%;
  float: left;
  padding-left: 40px;
  margin: 10px;
}


@media (min-width: 950px) {
  .account-item {
    display: flex;
    justify-content: center;
  }

  .profile-picture-container {
    margin: 25;
    margin-left: 15%;
  }

  .account-info-main {
    margin: 10px;
  }

  .profile-picture-container,
  .account-info {
    flex: 1;
  }
}

@media (max-width: 790px) {
  .account-item {
    width: 100%;
    text-align: center;
  }

  .profile-picture-container {
    width: 50%;
    margin: 0 auto;
    float: none;
  }

  .account-info-main {
    width: 100%;
    padding-left: 0;
    margin: 10px;
    text-align: center;
  }
}





/* Add styles for profile picture */
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  object-fit: cover;
}

/* Add styles for account information */
.account-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}

.account-info {
  font-size: 16px;
  margin-bottom: 10px;
  width: 90%;
  float: left;
  margin: 10px;
}

.custom-modal1 {
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: grid;
  font-family: "poppins";
}

.modal-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -2%;
  color: #054AAB;
  background-color: #fff; /* Light grey background */
    border-radius: 5px; /* Round the corners of the box */
  width: 35%;
  justify-self: center;
}

.info-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Distribute space evenly */
  align-items: center;
  gap: 10%;
  /* Increase gap between buttons */
  row-gap: 25px;
  /* Increase vertical gap between rows */
  margin: 5px;
  /* Add some margin between buttons */
  background-color: #fff; /* Light grey background */
    border-radius: 10px; /* Round the corners of the box */
  padding: 10px;

}

.modal-body-in {
  display: grid;
  justify-content: center;
  width: 100%;
}

.modal-body .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
}

.modal-buttons {
  display: flex;
  justify-content: end;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.confirm-button {
  background-color: #ff0000;
  color: #fff;
}

.cancel-button {
  background-color: #ccc;
  color: #000;
}

.account-manage-bg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background-image: url("/public/images/components/DriverHomeBG.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}