.backbutton{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    
}

.account-manage-container {
    max-width: 1200px;
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }

  .account-manage-title{
    text-align: center;
  }

  .filter-container{
    text-align: center;
  }


  .search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-button {
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1c13c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #22be8a;
  }
  
  .search-input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }


  .account-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .account-item {
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
  }
  
  .profile-picture-container {
    width: 30%;
    float: left;
    margin: 15px;
  }
  
  .account-info {
    width: 60%;
    float: left;
    padding-left: 60px;
    margin: 10px;
  }
  
  @media (max-width: 600px) {
    .account-item {
      width: 100%;
    }
    .profile-picture-container {
      width: 100%;
      float: none;
    }
    .account-info {
      width: 100%;
      float: none;
      padding-left: 0;
    }
  }