.tire-data-button,
.vehicle-data-button {
  background-image: linear-gradient(to right , #03275a, #054AAB);
  border-radius: 20px;
  color: white;
  font-family:'poppins';
  font-size: 26px;
  font-weight: bold;
  width: 435px;
  height: 330px;
  margin: 60px;
}

.vehicle-icon {
  height: 215px;
  width: 273px;
}

.tire-icon {
  width: 239px;
  height: 221px;
}

/*Button group opacity*/
.button-group {
  position: relative;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 1; /* Ensure it's on top of any background layers */
}

.button-group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E9E9E9;
  border-radius: 20px;
  opacity: 0.8;
  z-index: -1; /* Place behind the content */
}

.button-group > * {
  position: relative;
  z-index: 1;
}

/*Main content and bg image opacity*/
.main-content {
  display: flex;
  justify-content: center;
  position: relative;
}

.driver-main-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102%;
  background-image: url("/public/images/components/DriverHomeBG.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}

.main-content > * {
  position: relative;
  z-index: 1;
}