.icon-container {}

.tire-data-button,
.vehicle-data-button {
  background-image: linear-gradient(to right , #03275a, #054AAB);
  border-radius: 20px;
  color: white;
  font-family: poppins;
  font-size: 26px;
  font-weight: bold;
  width: 435px;
  height: 330px;
  margin: 60px;
}

.vehicle-icon {
  height: 215px;
  width: 273px;
}

.tire-icon {
  width: 239px;
  height: 221px;
}

.button-group{
  background-color: #E9E9E9;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-content{
  display: flex;
  justify-content: center;
}
