
  .formdropdown {
    width: 280px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0EDFF;
    display: inline-block;
  }

  .formdropdown option {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .submitbutton{
    width: 1182px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%);
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
    display: block;
  }

  .label{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;

  }

  .backbutton{

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 505;
    line-height: normal;
    width: 120px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%);
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    margin-left: 50px;
  }

  .leftarrow{
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 10px;
  }

  .textbox{
    width: 280px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0EDFF;
    display: inline-block;
  }

  table {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  table td{
    padding: 10px;
  }

  .vehicale{
    width: 383px;
    height: 218px;
  }

  .modal-confirm .modal-dialog {
    position: fixed !important;
    top: 50% !important;
    left: 40% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50px !important;
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%) !important;
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16) !important;
  }
  .modal-confirm .modal-body {
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%) !important;
    color: #FFF;
    padding: 20px;
    width: 900px;
  }
  .modal-confirm .modal-header {
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%) !important;
    color: #FFF;
    padding: 20px;
    width: 900px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }
  .modal-confirm .modal-footer {
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%) !important;
    color: #FFF;
    padding: 20px;
    width: 900px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  
.promtbutton{
  width: 420px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
  color: #042D67;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.leftpart{
  left: 40px;
}

.contentbox{
  text-align: center;
}
  