
  
  
  .formdropdown {
    width: 280px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0EDFF;
    display: inline-block;
  }

  .formdropdown option {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .submitbutton{
    width: 1182px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%);
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
    display: block;
  }

  .label{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;

  }

  .backbutton{
    width: 38px;
    height: 42px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 153px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(100deg, #021E45 -5.85%, #054AAB 109.55%);
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    margin-left: 50px;
  }

  .leftarrow{
    width: 38px;
    height: 42px;
    flex-shrink: 0;
  }

  .textbox{
    width: 280px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0EDFF;
    display: inline-block;
  }

  table {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  table td{
    padding: 10px;
  }

  .vehicale{
    width: 383px;
    height: 218px;
  }