.footer{
    height: 90px;
    flex-shrink: 0;
    border-radius: 0px;
    background: linear-gradient(90deg, #021E45 0%, #054AAB 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footercomponent{
    width: 608px;
    height: 39.857px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.timer{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}