.navbar {
  background: linear-gradient(92deg, #021E45 -4.32%, #054AAB 107.92%);
  padding: 10px 20px;
  color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand h4 {
  margin: 0;
}

.navbar-toggler-container {
  position: relative;
}

.navbar-toggler {
  background: white;
  border: 2px;
  border-color: aliceblue;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.navbar-toggler-icon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml;charset=UTF8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%287, 7, 7, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e') center/contain no-repeat;
}

.navbar-profile-popup {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  width: 250px;
}

.navbar-profile-picture {
  display: block;
  margin: auto;
  width: 100px; /* Increased size */
  height: 100px; /* Increased size */
  border-radius: 50%;
  object-fit: cover;
}

.profile-actions {
  text-align: center;
  margin-top: 10px;
}

.profile-actions button {
  display: block;
  width: 100%;
  margin-top: 10px;
}
