

.row {
  display: flex;
  margin: 0 -15px;
  
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 15px;
}

.profile-picture-cont {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}


.profile-picture-PE {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}



.profile-picture input[type="file"] {
  margin-top: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-prim {
  width: 100%;
  padding: 10px;
  background-color: #054b96;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

@media screen and (min-width: 900px) {
  .edit-profile-container {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    width: 80%;
    background-color: #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    font-family: Poppins;
    margin-bottom: 50px;
  }
  .edit-profile-container {
    width: 70%;
  }
  .profile-picture img {
    width: 180px;
    height: 180px;
  }
  .form-group input {
    padding: 10px;
  }
  .btn-prim {
    padding: 12px;
    font-size: 18px;
  }
  .image-upload{
    margin-left: 7%;
  }

}
@media (min-width: 760px) and (max-width: 1200px){
  .profile-picture-cont input{
    color: #e5e5e5;
  }
}

@media screen and (max-width: 900px){
  .edit-profile-container {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    width: 80%;
    background-color: #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    font-family: Poppins;
    margin-bottom: 60px;
  }

  .row {
    flex-direction: column; /* Stack columns on mobile */
    align-items: center; /* Center items on mobile */
  }

  .col-md-3, .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  .profile-picture img {
    width: 120px;
    height: 120px;
  }

  .form-group {
    margin-bottom: 8px;
  }

  .form-group input {
    padding: 8px;
  }

  .btn-prim {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .image-upload{
    margin-top: -40px;
    margin-left: 17%;
  }
}
